@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@theme {
  --color-primary: #e52330;
  --color-primary-accessible: #c41e2a;
  --color-secondary: #0d1725;
}
html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 100px;
}

:focus {
  scroll-margin-top: 100px;
  scroll-margin-bottom: 60px;
}

body {
  font-family: "Outfit Variable", sans-serif;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
