---
// src/components/ItineraryDay.astro
const { day, title } = Astro.props;
---

<div class="relative pl-10 mb-8">
  <!-- Línea vertical -->
  <span class="absolute mt-10 left-7 top-0 w-0.5 bg-black h-full"></span>

  <!-- Círculo del día -->
  <span
    class="absolute left-0 top-0 h-14 w-14 rounded-full bg-black flex items-center justify-center text-white font-bold"
  >
    {day}
  </span>

  <!-- Contenido del día -->
  <div class="mb-4 ml-8">
    <h3 class="text-xl font-semibold mb-2 text-secondary">{title}</h3>
    <div class="prose prose-invert">
      <slot />
    </div>
  </div>
</div>
