---
import { Image } from "astro:assets";
import Iso9001 from "@/assets/img-sponsor/iso9001.webp";
import Iso14001 from "@/assets/img-sponsor/iso14001.webp";
import Iata from "@/assets/img-sponsor/iata.webp";
import MarcaPeru from "@/assets/img-sponsor/marcaperu.webp";
import TripAdvisor from "@/assets/img-sponsor/tripadvisor.webp";
import Gercetur from "@/assets/img-sponsor/gercetur.webp";
import SafeTravels from "@/assets/img-sponsor/safetravels.webp";
import TurismoResponsable from "@/assets/img-sponsor/turismoresponsable.webp";

const sponsors = [
  {
    logo: Iso9001,
    name: "Certificación ISO 9001",
    alt: "Logo de Certificación ISO 9001",
    size: "w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48",
  },
  {
    logo: Iso14001,
    name: "Certificación ISO 14001",
    alt: "Logo de Certificación ISO 14001",
    size: "w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48",
  },
  {
    logo: Iata,
    name: "Certificación IATA",
    alt: "Logo de Certificación IATA",
    size: "w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48",
  },
  {
    logo: MarcaPeru,
    name: "Certificación Marca Peru",
    alt: "Logo de Certificación Marca Peru",
    size: "w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48",
  },
  {
    logo: TripAdvisor,
    name: "Certificación TripAdvisor",
    alt: "Logo de Certificación TripAdvisor",
    size: "w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48",
  },
  {
    logo: Gercetur,
    name: "Certificación Gercetur",
    alt: "Logo de Certificación Gercetur",
    size: "w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48",
  },
  {
    logo: SafeTravels,
    name: "Certificación SafeTravels",
    alt: "Logo de Certificación SafeTravels",
    size: "w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48",
  },
  {
    logo: TurismoResponsable,
    name: "Certificación Turismo Responsable",
    alt: "Logo de Certificación Turismo Responsable",
    size: "w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48",
  },
];
---

<section class="py-12">
  <div class="max-w-7xl mx-auto px-6 lg:px-8">
    <div class="text-center mb-8">
      <h2
        class="text-2xl text-balance md:text-3xl lg:text-4xl font-bold text-center text-secondary"
      >
        Nuestras Certificaciones
      </h2>
    </div>
    <div
      class="mt-12 grid select-none grid-cols-2 md:grid-cols-4 gap-2 md:gap-8 justify-items-center"
    >
      {
        sponsors.map((sponsor) => (
          <div class="company-link group relative flex h-32 w-32 items-center justify-center overflow-hidden md:h-40 md:w-40 px-4">
            <Image
              src={sponsor.logo}
              alt={sponsor.alt}
              class={`company-logo text-white transition group-hover:scale-110 group-focus:scale-105 duration-300`}
              quality={95}
              format="webp"
              loading="lazy"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
<style>
  @media (prefers-reduced-motion) {
    .company-link::before {
      transition: none;
    }
  }

  .company-link:hover::before,
  .company-link:focus::before {
    opacity: 0.8;
    height: 90%;
    box-shadow: 0 -4px 3px rgba(50, 50, 50, 0.75);
  }

  .company-link:hover .company-logo,
  .company-link:focus .company-logo {
    transform: scale(1.05);
  }

  @media (prefers-reduced-motion) {
    .company-link:hover .company-logo,
    .company-link:focus .company-logo {
      transform: scale(1);
    }
  }
</style>
